
body{
    direction: rtl;
}
header{
    width: 100%;
    text-align: center;
}

.main_container{
    margin-top: 10%;
}
.main_container .card{
    margin: 10px;
}
.main_container a{
    color: black;
}
.main_container a:link {
    text-decoration: none;
}
.main_container .card:hover{
    transform: scale(0.96);
    cursor: pointer;
}
/* ------------------- */
.dashboard_cards .card{
    margin: 10px;
    width:16rem;
    box-shadow: inset 0px 0px 0px #09a0d3;
}
.dashboard_cards .card:hover{
    box-shadow: inset 0px -2px 0px #09a0d3 !important;
    cursor: pointer;
}
.dashboard_cards{
   margin-right: 20%;
}
.sidebar{
    width: 20%;
    position: fixed;
    height: 100%;
}
.sidebar .items ul{
    list-style-type: none;
}
.sidebar .items ul li{
    margin-bottom: 30px;
}



footer{
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
}
